In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from keras.models import Sequential
from keras.layers import Dense, LSTM, Conv1D, MaxPooling1D, Flatten, TimeDistributed, ConvLSTM2D, Reshape
import tensorflow as tf
import sklearn.metrics as sm
import keras


from keras import backend as K

Using TensorFlow backend.

In [2]:
data = pd.read_csv("train.csv")

In [3]:
dtest = pd.read_csv("test.csv")

In [4]:
data.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0

In [5]:
data =  data.drop(["ID","X0","X1","X2","X3","X4","X5","X6","X8" ], axis = 1)

In [6]:
data.head()

,y,X10,X11,X12,X13,X14,X15,X16,X17,X18,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,130.81,0,0,0,1,0,0,0,0,1,...,0,0,1,0,0,0,0,0,0,0
1,88.53,0,0,0,0,0,0,0,0,1,...,1,0,0,0,0,0,0,0,0,0
2,76.26,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
3,80.62,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,78.02,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
data.shape

(4209, 369)

In [8]:
dtest

,ID,X0,X1,X2,X3,X4,X5,X6,X8,X10,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,1,az,v,n,f,d,t,a,w,0,...,0,0,0,1,0,0,0,0,0,0
1,2,t,b,ai,a,d,b,g,y,0,...,0,0,1,0,0,0,0,0,0,0
2,3,az,v,as,f,d,a,j,j,0,...,0,0,0,1,0,0,0,0,0,0
3,4,az,l,n,f,d,z,l,n,0,...,0,0,0,1,0,0,0,0,0,0
4,5,w,s,as,c,d,y,i,m,0,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,8410,aj,h,as,f,d,aa,j,e,0,...,0,0,0,0,0,0,0,0,0,0
4205,8411,t,aa,ai,d,d,aa,j,y,0,...,0,1,0,0,0,0,0,0,0,0
4206,8413,y,v,as,f,d,aa,d,w,0,...,0,0,0,0,0,0,0,0,0,0
4207,8414,ak,v,as,a,d,aa,c,q,0,...,0,0,1,0,0,0,0,0,0,0
4208,8416,t,aa,ai,c,d,aa,g,r,0,...,1,0,0,0,0,0,0,0,0,0

In [9]:
dtest =  dtest.drop(["ID","X0","X1","X2","X3","X4","X5","X6","X8" ], axis = 1)

In [10]:
dtest.head()

,X10,X11,X12,X13,X14,X15,X16,X17,X18,X19,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,1,...,0,0,1,0,0,0,0,0,0,0
2,0,0,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
4,0,0,0,0,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0

In [11]:
dtest.shape

(4209, 368)

In [12]:
X_train, y_train = data.values[0:3499,1:], data.values[0:3499, :1].ravel()
X_valid, y_valid = data.values[3500:4208,1:], data.values[3500:4208, :1].ravel()
X_test = dtest.values[:, :]

In [13]:
print("X_train----",X_train.shape)
print("y_train----",y_train.shape)      
print("X_valid----",X_valid.shape)
print("y_valid----",y_valid.shape)
print("X_test-----",X_test.shape)

X_train---- (3499, 368)
y_train---- (3499,)
X_valid---- (708, 368)
y_valid---- (708,)
X_test----- (4209, 368)

In [14]:
X_train[0]

array([0., 0., 0., 1., 0., 0., 0., 0., 1., 0., 0., 1., 0., 0., 0., 0., 0.,
       0., 0., 0., 1., 0., 0., 0., 1., 0., 1., 0., 0., 0., 0., 0., 0., 0.,
       0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 1., 0., 1., 0., 0., 1., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0.,
       1., 0., 1., 0., 1., 1., 1., 0., 0., 0., 0., 0., 0., 1., 0., 0., 1.,
       0., 0., 0., 0., 1., 1., 0., 0., 0., 0., 1., 0., 1., 0., 0., 0., 0.,
       1., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0.,
       1., 0., 0., 1., 1., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 1., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0.,
       1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 1., 1., 0., 0., 1., 0., 0., 0., 0.,
       0., 0., 1., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0.,
       0., 1., 0., 0., 1., 0., 1., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0.,
       0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0.])

In [15]:
y_train[0]

130.81

In [16]:
def mean_absolute_percentage_error(y_true, y_pred): 
    y_true, y_pred = np.array(y_true), np.array(y_pred)
    return np.mean(np.abs((y_true - y_pred) / y_true)) * 100

In [17]:
def metrics(pred, y_test):
    evs = sm.explained_variance_score(y_test, pred)
    me = sm.max_error(y_test, pred)
    mae = sm.mean_absolute_error(y_test, pred)
    mse = sm.mean_squared_error(y_test, pred)
    rmse = np.sqrt(mse)
    #msle = sm.mean_squared_log_error(y_test, pred)
    m_ae = sm.median_absolute_error(y_test, pred)
    r2 = sm.r2_score(y_test, pred)
    #mpd = sm.mean_poisson_deviance(y_test, pred)
    #mgd = sm.mean_gamma_deviance(y_test, pred)
    mape = mean_absolute_percentage_error(pred, y_test)
    return({'Explained Variance Score': evs,
            'Max Error': me,
            'Mean Absolute Error': mae,
            'Mean Squared Error': mse,
            'Root Mean Squared Error': rmse,
            #'Mean Squared Log Error': msle,
            'Median Absolute Error': m_ae,
            'RÂ² Score': r2,
            #'Mean Poisson Deviance': mpd,
            #'Mean Gamma Deviance': mgd,
            'Mean Absolute Percentage Error': mape
            })

In [18]:
subsequences = 16
timesteps = X_train.shape[1]//subsequences

In [19]:
timesteps

23

In [20]:
X_train = X_train.reshape((X_train.shape[0], subsequences, 1, timesteps, 1))
X_valid = X_valid.reshape((X_valid.shape[0], subsequences, 1, timesteps, 1))
X_test  = X_test.reshape((X_test.shape[0], subsequences, 1, timesteps, 1))

In [21]:
X_train.shape

(3499, 16, 1, 23, 1)

In [22]:
early_stop = tf.keras.callbacks.EarlyStopping(monitor="loss", patience=20)

In [23]:
modelConvLSTM = Sequential()
modelConvLSTM.add(ConvLSTM2D(filters=64, kernel_size=(1,2), activation='relu', return_sequences=True,input_shape=(X_train.shape[1], 1, X_train.shape[3], X_train.shape[4])))
modelConvLSTM.add(ConvLSTM2D(filters=32, kernel_size=(1,2), activation='relu'))
modelConvLSTM.add(Flatten())
modelConvLSTM.add(Dense(1))
modelConvLSTM.compile(optimizer='adam', loss='mse')
history = modelConvLSTM.fit(X_train, y_train, batch_size=512, epochs=100, verbose=1, callbacks=[early_stop], validation_data = (X_valid, y_valid))

Train on 3499 samples, validate on 708 samples
Epoch 1/100
3499/3499 [==============================] - 11s 3ms/step - loss: 10354.8904 - val_loss: 9917.6729
Epoch 2/100
3499/3499 [==============================] - 10s 3ms/step - loss: 10284.0444 - val_loss: 9731.2516
Epoch 3/100
3499/3499 [==============================] - 10s 3ms/step - loss: 9104.4612 - val_loss: 2111.9728
Epoch 4/100
3499/3499 [==============================] - 10s 3ms/step - loss: 1380.3786 - val_loss: 471.6983
Epoch 5/100
3499/3499 [==============================] - 10s 3ms/step - loss: 505.0502 - val_loss: 438.6087
Epoch 6/100
3499/3499 [==============================] - 10s 3ms/step - loss: 429.2705 - val_loss: 337.3210
Epoch 7/100
3499/3499 [==============================] - 10s 3ms/step - loss: 310.1586 - val_loss: 189.1344
Epoch 8/100
3499/3499 [==============================] - 10s 3ms/step - loss: 259.2736 - val_loss: 195.7712
Epoch 9/100
3499/3499 [==============================] - 10s 3ms/step - loss: 240.6161 - val_loss: 196.4198
Epoch 10/100
3499/3499 [==============================] - 10s 3ms/step - loss: 212.4063 - val_loss: 157.4441
Epoch 11/100
3499/3499 [==============================] - 10s 3ms/step - loss: 200.1465 - val_loss: 150.4472
Epoch 12/100
3499/3499 [==============================] - 10s 3ms/step - loss: 192.0209 - val_loss: 157.7164
Epoch 13/100
3499/3499 [==============================] - 10s 3ms/step - loss: 180.3910 - val_loss: 149.0960
Epoch 14/100
3499/3499 [==============================] - 10s 3ms/step - loss: 173.9670 - val_loss: 137.3142
Epoch 15/100
3499/3499 [==============================] - 10s 3ms/step - loss: 167.2752 - val_loss: 130.7227
Epoch 16/100
3499/3499 [==============================] - 10s 3ms/step - loss: 162.3342 - val_loss: 125.7440
Epoch 17/100
3499/3499 [==============================] - 10s 3ms/step - loss: 157.9080 - val_loss: 124.0008
Epoch 18/100
3499/3499 [==============================] - 10s 3ms/step - loss: 151.8232 - val_loss: 127.8066
Epoch 19/100
3499/3499 [==============================] - 10s 3ms/step - loss: 145.3787 - val_loss: 115.1620
Epoch 20/100
3499/3499 [==============================] - 10s 3ms/step - loss: 140.4194 - val_loss: 109.5452
Epoch 21/100
3499/3499 [==============================] - 10s 3ms/step - loss: 137.9711 - val_loss: 112.0412
Epoch 22/100
3499/3499 [==============================] - 10s 3ms/step - loss: 138.8380 - val_loss: 119.1002
Epoch 23/100
3499/3499 [==============================] - 10s 3ms/step - loss: 138.7045 - val_loss: 107.0600
Epoch 24/100
3499/3499 [==============================] - 10s 3ms/step - loss: 136.1064 - val_loss: 106.1233
Epoch 25/100
3499/3499 [==============================] - 10s 3ms/step - loss: 133.8928 - val_loss: 114.4464
Epoch 26/100
3499/3499 [==============================] - 10s 3ms/step - loss: 133.7753 - val_loss: 104.3058
Epoch 27/100
3499/3499 [==============================] - 10s 3ms/step - loss: 132.5576 - val_loss: 114.6354
Epoch 28/100
3499/3499 [==============================] - 10s 3ms/step - loss: 133.7829 - val_loss: 100.1331
Epoch 29/100
3499/3499 [==============================] - 10s 3ms/step - loss: 132.7307 - val_loss: 105.1655
Epoch 30/100
3499/3499 [==============================] - 10s 3ms/step - loss: 131.1820 - val_loss: 105.0672
Epoch 31/100
3499/3499 [==============================] - 10s 3ms/step - loss: 130.0854 - val_loss: 97.8867
Epoch 32/100
3499/3499 [==============================] - 10s 3ms/step - loss: 130.0511 - val_loss: 98.4169
Epoch 33/100
3499/3499 [==============================] - 10s 3ms/step - loss: 128.6334 - val_loss: 108.1191
Epoch 34/100
3499/3499 [==============================] - 10s 3ms/step - loss: 129.9762 - val_loss: 97.0390
Epoch 35/100
3499/3499 [==============================] - 10s 3ms/step - loss: 127.2940 - val_loss: 96.2309
Epoch 36/100
3499/3499 [==============================] - 10s 3ms/step - loss: 131.8894 - val_loss: 111.2896
Epoch 37/100
3499/3499 [==============================] - 10s 3ms/step - loss: 136.4689 - val_loss: 94.4014
Epoch 38/100
3499/3499 [==============================] - 10s 3ms/step - loss: 131.0652 - val_loss: 124.6497
Epoch 39/100
3499/3499 [==============================] - 10s 3ms/step - loss: 129.8524 - val_loss: 94.8414
Epoch 40/100
3499/3499 [==============================] - 10s 3ms/step - loss: 127.4700 - val_loss: 103.4924
Epoch 41/100
3499/3499 [==============================] - 10s 3ms/step - loss: 125.6631 - val_loss: 94.3599
Epoch 42/100
3499/3499 [==============================] - 10s 3ms/step - loss: 126.6112 - val_loss: 96.5304
Epoch 43/100
3499/3499 [==============================] - 10s 3ms/step - loss: 124.3198 - val_loss: 92.0801
Epoch 44/100
3499/3499 [==============================] - 10s 3ms/step - loss: 127.1779 - val_loss: 93.7012
Epoch 45/100
3499/3499 [==============================] - 10s 3ms/step - loss: 128.1554 - val_loss: 104.5111
Epoch 46/100
3499/3499 [==============================] - 10s 3ms/step - loss: 123.9625 - val_loss: 90.3960
Epoch 47/100
3499/3499 [==============================] - 10s 3ms/step - loss: 126.4471 - val_loss: 91.7747
Epoch 48/100
3499/3499 [==============================] - 11s 3ms/step - loss: 125.0333 - val_loss: 97.4048
Epoch 49/100
3499/3499 [==============================] - 11s 3ms/step - loss: 121.4936 - val_loss: 100.6033
Epoch 50/100
3499/3499 [==============================] - 11s 3ms/step - loss: 121.3894 - val_loss: 91.4417
Epoch 51/100
3499/3499 [==============================] - 10s 3ms/step - loss: 120.2223 - val_loss: 89.4547
Epoch 52/100
3499/3499 [==============================] - 10s 3ms/step - loss: 118.7468 - val_loss: 95.0733
Epoch 53/100
3499/3499 [==============================] - 10s 3ms/step - loss: 118.0077 - val_loss: 90.3132
Epoch 54/100
3499/3499 [==============================] - 10s 3ms/step - loss: 118.9301 - val_loss: 89.2793
Epoch 55/100
3499/3499 [==============================] - 10s 3ms/step - loss: 119.2341 - val_loss: 86.0965
Epoch 56/100
3499/3499 [==============================] - 10s 3ms/step - loss: 120.3009 - val_loss: 86.5531
Epoch 57/100
3499/3499 [==============================] - 10s 3ms/step - loss: 120.1152 - val_loss: 91.2315
Epoch 58/100
3499/3499 [==============================] - 10s 3ms/step - loss: 115.6990 - val_loss: 85.8050
Epoch 59/100
3499/3499 [==============================] - 10s 3ms/step - loss: 118.3926 - val_loss: 87.7038
Epoch 60/100
3499/3499 [==============================] - 10s 3ms/step - loss: 118.4571 - val_loss: 85.1933
Epoch 61/100
3499/3499 [==============================] - 10s 3ms/step - loss: 115.2058 - val_loss: 91.6557
Epoch 62/100
3499/3499 [==============================] - 10s 3ms/step - loss: 115.4330 - val_loss: 85.8306
Epoch 63/100
3499/3499 [==============================] - 10s 3ms/step - loss: 113.3671 - val_loss: 83.4666
Epoch 64/100
3499/3499 [==============================] - 10s 3ms/step - loss: 112.5317 - val_loss: 85.2977
Epoch 65/100
3499/3499 [==============================] - 10s 3ms/step - loss: 117.7647 - val_loss: 123.5734
Epoch 66/100
3499/3499 [==============================] - 10s 3ms/step - loss: 116.0433 - val_loss: 84.5871
Epoch 67/100
3499/3499 [==============================] - 10s 3ms/step - loss: 112.2728 - val_loss: 81.8582
Epoch 68/100
3499/3499 [==============================] - 10s 3ms/step - loss: 109.3516 - val_loss: 85.7292
Epoch 69/100
3499/3499 [==============================] - 10s 3ms/step - loss: 109.6939 - val_loss: 79.1930
Epoch 70/100
3499/3499 [==============================] - 10s 3ms/step - loss: 114.3871 - val_loss: 80.7033
Epoch 71/100
3499/3499 [==============================] - 10s 3ms/step - loss: 125.2230 - val_loss: 87.1048
Epoch 72/100
3499/3499 [==============================] - 10s 3ms/step - loss: 117.0125 - val_loss: 78.5419
Epoch 73/100
3499/3499 [==============================] - 10s 3ms/step - loss: 111.9222 - val_loss: 98.3857
Epoch 74/100
3499/3499 [==============================] - 10s 3ms/step - loss: 113.4466 - val_loss: 81.1397
Epoch 75/100
3499/3499 [==============================] - 10s 3ms/step - loss: 111.9876 - val_loss: 94.1992
Epoch 76/100

3499/3499 [==============================] - 10s 3ms/step - loss: 109.1654 - val_loss: 84.0498
Epoch 77/100
3499/3499 [==============================] - 11s 3ms/step - loss: 106.2694 - val_loss: 76.0524
Epoch 78/100
3499/3499 [==============================] - 11s 3ms/step - loss: 108.3508 - val_loss: 75.4120
Epoch 79/100
3499/3499 [==============================] - 10s 3ms/step - loss: 108.1486 - val_loss: 77.4752
Epoch 80/100
3499/3499 [==============================] - 11s 3ms/step - loss: 107.2500 - val_loss: 73.8398
Epoch 81/100
3499/3499 [==============================] - 11s 3ms/step - loss: 105.6558 - val_loss: 83.5889
Epoch 82/100
3499/3499 [==============================] - 13s 4ms/step - loss: 105.0289 - val_loss: 77.5571
Epoch 83/100
3499/3499 [==============================] - 14s 4ms/step - loss: 101.8810 - val_loss: 74.5423
Epoch 84/100
3499/3499 [==============================] - 13s 4ms/step - loss: 101.7865 - val_loss: 72.2421
Epoch 85/100
3499/3499 [==============================] - 13s 4ms/step - loss: 102.8964 - val_loss: 69.6467
Epoch 86/100
3499/3499 [==============================] - 12s 3ms/step - loss: 109.9997 - val_loss: 70.8802
Epoch 87/100
3499/3499 [==============================] - 11s 3ms/step - loss: 101.7996 - val_loss: 79.4217
Epoch 88/100
3499/3499 [==============================] - 11s 3ms/step - loss: 100.0552 - val_loss: 81.6434
Epoch 89/100
3499/3499 [==============================] - 10s 3ms/step - loss: 105.8732 - val_loss: 70.1164
Epoch 90/100
3499/3499 [==============================] - 10s 3ms/step - loss: 101.6902 - val_loss: 72.0273
Epoch 91/100
3499/3499 [==============================] - 11s 3ms/step - loss: 99.0951 - val_loss: 69.3205
Epoch 92/100
3499/3499 [==============================] - 10s 3ms/step - loss: 101.1199 - val_loss: 67.0036
Epoch 93/100
3499/3499 [==============================] - 10s 3ms/step - loss: 102.8405 - val_loss: 70.7380
Epoch 94/100
3499/3499 [==============================] - 10s 3ms/step - loss: 103.5667 - val_loss: 67.8160
Epoch 95/100
3499/3499 [==============================] - 10s 3ms/step - loss: 100.5612 - val_loss: 68.8097
Epoch 96/100
3499/3499 [==============================] - 10s 3ms/step - loss: 97.2555 - val_loss: 84.9278
Epoch 97/100
3499/3499 [==============================] - 10s 3ms/step - loss: 97.7938 - val_loss: 95.4159
Epoch 98/100
3499/3499 [==============================] - 10s 3ms/step - loss: 102.4581 - val_loss: 69.6714
Epoch 99/100
3499/3499 [==============================] - 10s 3ms/step - loss: 96.7365 - val_loss: 67.2185
Epoch 100/100
3499/3499 [==============================] - 10s 3ms/step - loss: 96.6825 - val_loss: 63.2452

In [24]:
ConvLSTMpred = modelConvLSTM.predict(X_valid, verbose=0)
ConvLSTMpred = ConvLSTMpred.reshape((ConvLSTMpred.shape[0]))
ConvLSTMresults = metrics(ConvLSTMpred, y_valid)
ConvLSTMresults

{'Explained Variance Score': 0.5216817210295391,
 'Max Error': 41.92673828125001,
 'Mean Absolute Error': 6.012202614390917,
 'Mean Squared Error': 63.245239888853305,
 'Root Mean Squared Error': 7.952687589038897,
 'Median Absolute Error': 4.821315765380859,
 'RÂ² Score': 0.5198275745452634,
 'Mean Absolute Percentage Error': 6.02487422763649}

In [25]:
ConvLSTMpred = modelConvLSTM.predict(X_test, verbose=0)
ConvLSTMpred = ConvLSTMpred.reshape((ConvLSTMpred.shape[0]))